###############################################################################
# PLEASE yesTE: This file should be changed only by the maintainer.
# PLEASE yesTE: This file is only sourced if the "shutit build" command is run
#              and this file is in the relative path: configs/build.cnf
#              This is to ensure it is only sourced if _this_ module is the
#              target.
###############################################################################
[shutit.openshift_vm.openshift_vm.openshift_vm]
shutit.core.module.build:yes
[shutit.openshift_vm.openshift_vm.openshift_users]
shutit.core.module.build:yes

[shutit.openshift_vm.openshift_vm.openshift_secrets]
shutit.core.module.build:no
[shutit.openshift_vm.openshift_vm.openshift_webhooks]
shutit.core.module.build:no

[shutit.openshift_vm.openshift_vm.openshift_create_app_basic]
shutit.core.module.build:no
[shutit.openshift_vm.openshift_vm.openshift_template_local]
shutit.core.module.build:no
[shutit.openshift_vm.openshift_vm.openshift_templates]
shutit.core.module.build:no
[shutit.openshift_vm.openshift_vm.openshift_volumes]
shutit.core.module.build:no
[shutit.openshift_vm.openshift_vm.openshift_persistent_volumes]
shutit.core.module.build:no
[shutit.openshift_vm.openshift_vm.openshift_airflow]
shutit.core.module.build:no
[shutit.openshift_vm.openshift_vm.openshift_extras]
shutit.core.module.build:no

# Tests/disruptive
[shutit.openshift_vm.openshift_vm.openshift_debug]
shutit.core.module.build:no
[shutit.openshift_vm.openshift_vm.openshift_disk_abuse]
shutit.core.module.build:no
